/* Tags */
body {
  background-color: #000;
  color: #fff;
}
div {
  margin-bottom: 2px;
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  vertical-align: middle;
}
/* Navigation  bar */
.nav-item a {
  color: #fff;
}
.nav-item a:hover {
  color: rgb(19, 11, 235);
}
.header {
  background: #000;
  color: #fff;
}

/* Result */
.cardDesign {
  padding-top: 25px;
}
.card {
  background: #3c3b3b;
  color: #fff;
  box-shadow: 0px 0px 2px 2px #fff;
}

.card:hover {
  transform: scale(1.1);
}

.card-body {
  padding: 0px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1 !important;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}

.bulletlist + .bulletlist::before {
  display: inline-block;
  margin: 0 0.5rem 0.2rem;
  content: "";
  font-size: 1rem;
  line-height: 0.5rem;
  padding: 1px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: currentColor;
}

/********************************************
*********************************************
********************IMDB*********************
*********************************************
********************************************/
/* .body-content {
  margin-top: 15px;
}
.heading {
  color: #fff;
  font-family: "Georgia", "Courier New", monospace;
} */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: black;
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.32);
  box-shadow: rgba(5, 228, 244, 0.2) 0 3px 5px -1px,
    rgba(8, 243, 243, 0.14) 0 6px 10px 0, rgba(212, 10, 10, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  border-style: solid;
  background: #ffffff30;
}


.ipc-metadata-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.ipc-metadata-list--baseAlt {
  color: #fff;
  color: var(--ipt-on-baseAlt-textPrimary-color);
}
.ipc-metadata-list--baseAlt .ipc-metadata-list__item,
.ipc-metadata-list--baseAlt .ipc-metadata-list__summary-item {
  border-color: rgba(255, 255, 255, 0.2);
  border-color: var(--ipt-baseAlt-border-color);
}
.ipc-metadata-list--dividers-all .ipc-metadata-list-summary-item,
.ipc-metadata-list--dividers-all .ipc-metadata-list__item,
.ipc-metadata-list--dividers-all .ipc-metadata-list__summary-item,
.ipc-metadata-list--dividers-between .ipc-metadata-list-summary-item,
.ipc-metadata-list--dividers-between .ipc-metadata-list__item,
.ipc-metadata-list--dividers-between .ipc-metadata-list__summary-item {
  border-top-width: 1px;
  border-top-style: solid;
}
.ipc-metadata-list__item {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  min-height: 3rem;
  flex-wrap: wrap;
  padding-bottom: 0.75rem;
}
.ipc-metadata-list-item__label {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.00937em;
  text-decoration: inherit;
  text-transform: inherit;
  font-weight: 600;
  line-height: 1.25rem;
  -webkit-font-smoothing: auto;
  font-smooth: auto;
  padding: 0.75rem 0.75rem 0 0;
  line-height: 1.5rem;
  flex-shrink: 0;
  font-weight: 500;
  max-width: 100%;
}
.ipc-metadata-list-item__content-container,
.ipc-metadata-list-item__label {
  position: relative;
  z-index: 1;
}

.ipc-metadata-list-item__content-container {
  padding-top: 0.75rem;
  align-self: flex-end;
}
.ipc-metadata-list-item__label ~ .ipc-metadata-list-item__content-container {
  padding-top: 0;
}
.ipc-metadata-list-item__list-content {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  font-smooth: auto;
  word-break: break-word;
}

.ipc-inline-list--inline,
.ipc-inline-list--inline .ipc-inline-list__item {
  display: inline;
}
.ipc-inline-list__item {
  display: inline-block;
  color: inherit;
  vertical-align: middle;
}
*,
::before,
::after {
  box-sizing: border-box;
}
.ipc-metadata-list-item__list-content-item::before {
  content: "\200B";
}
.ipc-inline-list--show-dividers
  .ipc-inline-list__item
  + .ipc-inline-list__item::before {
  display: inline-block;
  margin: 0 0.5rem 0.2rem;
  content: "";
  font-size: 1rem;
  line-height: 0.5rem;
  padding: 1px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: currentColor;
}
.img-cover {
  height: auto;
  width: 240px;
}