<%- include('_header'); -%>
    <div class="container">
        <!-- container begins here-->
        <div class="container pt-5">
            <!-- Jumbotron begins here -->
            <div class="pt-5">
                <div class="text-center text-warning p-3">
                    <h2>Search for movies, actors and directors</h2>
                </div>
                <div class="">
                    <form action="/result" method="GET" class="justify-content-center d-flex">
                        <input type="text" name="search" class="form-control w-25 bg-dark text-white col-xs-3"
                            value="Avengers" style="margin-right: 20px;">
                        <input type="submit" class="btn btn-warning ml-2 col-xs-4" value="Search">
                    </form>
                </div>
            </div>
            <!-- jumbotron ends here -->
        </div>
    </div>
    <!-- container ended here -->
    <%- include ('_footer'); -%>